
extends layout/main-layout.pug

block content 
         
    main
        form.product-form(action="/admin/addprod", method="post")
            .form-control
                label(for="title") Title
                input(type="text" ,name ="title" )#title

        
            button.submit add product   
   
      















         
        