extends layout/main-layout.pug

block content  
    main 
        if prods.length > 0 
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                
                        div.card__image
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKLu5nMK1I7qQ8RN98wihX6MbNxSYdhvzGQHlV2mWYMQ&s",alt="A Book")
                  
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                
                        .card__actions
                            button.btn Add to Cart
                
            
